/* Custom styles */
.spinnerStyle{
    top: 50%;
    left: 50%;
    height: 24px;
    position: fixed;
    width: 100px;
    margin-top: -12px;
    margin-left: -50px;
}
.text-indigo{
    color:var(--indigo);
}
.text-green{
    color:var(--green);
}
.text-orange{
    color:var(--orange);
}
.text-blue{
    color:rgb(33, 150, 243);
}

.verticallyCentered{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.container{
    margin-top:2rem;
    margin-bottom:2rem;
}

fieldset{
    border-style: groove;
    padding-left:10px;
    padding-right:10px;
    border-width: thin;
}
legend{
    width:inherit;
    padding-left:5px;
    padding-right:5px;
}
.row{
    margin-bottom: 1.5rem;
}
.infoCard{
    text-align:left;
}
.infoCard h5{
    display: inline-block;
}
.infoCard .card-body{
    margin-left: 2.1rem;
}
.iconLabel{
    width: 2.1rem;
    color:var(--primary);
}
.dateLabel{
    color: var(--secondary);
    float: right;
}
.subtitleItem{
    margin: 0;
    font-style: italic;
}
.progress {
    margin-bottom: 1rem;
}
.btn-ghost-info {
    color: #63c2de;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}
.profilePhoto{
    max-width: 200px;
    border-radius: 40px;
    margin-bottom: 2rem;
}